html {
    background-color: black;
    color: lime;
    font-family: 'Major Mono Display', monospace;
}

input[type='text'] {
    font-size: 16px;
    background-color: black;
    color: lime;
    font-family: 'Major Mono Display', monospace;;
}

.rail {
    position: absolute;
    left: 0px;
    top: 100px;
}

button {
    font-family: 'Major Mono Display', monospace;
    background-color: lime;
    color: black;
}

.block {
    background-color: green;
    position: absolute;
    /* margin: auto; */
    top: 0px;
    /* animation: nudge 5s linear infinite alternate; */
}

.targetZone {
    border: 2px solid blueviolet;
    /* height: 2px;
    color: blueviolet; */
    position: absolute;
    width: 100%;
    left: 0px;
}

.dispenser {
    border: solid green;

    height: 6px;
    /* height: 10px;
    color: green; */
    position: absolute;
    /* margin: auto; */
    /* left: 20px; */
}

.blooper {
    font-family: 'arial black';
    font-weight: bold;
    font-size: 22px;
    width: 30px;
    height: 30px;
}

@keyframes nudge {
    0%, 100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(150px, 0);
    }

    80% {
        transform: translate(-150px, 0);
    }
}

/* ------------------------------------------------------------------------- */
/* Keyboard CSS from MDN tutorial https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Simple_synth */
/* ------------------------------------------------------------------------- */
/* .container {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 660px;
    height: 110px;
    white-space: nowrap;
    margin: 10px;
}

.keyboard {
    width: auto;
    padding: 0;
    margin: 0;
}

.key {
    cursor: pointer;
    font: 16px "Open Sans", "Lucida Grande", "Arial", sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    width: 20px;
    height: 80px;
    text-align: center;
    box-shadow: 2px 2px darkgray;
    display: inline-block;
    position: relative;
    margin-right: 3px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.key div {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

.key div sub {
    font-size: 10px;
    pointer-events: none;
}

.key:hover {
    background-color: #eef;
}

.key:active {
    background-color: #000;
    color: #fff;
}

.octave {
    display: inline-block;
    padding: 0 6px 0 0;
}

.settingsBar {
    padding-top: 8px;
    font: 14px "Open Sans", "Lucida Grande", "Arial", sans-serif;
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 30px;
}

.left {
    width: 50%;
    position: absolute;
    left: 0;
    display: table-cell;
    vertical-align: middle;
}

.left span, .left input {
    vertical-align: middle;
}

.right {
    width: 50%;
    position: absolute;
    right: 0;
    display: table-cell;
    vertical-align: middle;
}

.right span {
    vertical-align: middle;
}

.right input {
    vertical-align: baseline;
} */

.userInput {
    display: grid;
    grid-template: 1fr 2fr;
    gap: 10px;
}

.userInput input {
    grid-column: 2;
}

.userInput label {
    grid-column: 1;
}

.gameMenu {
    display: grid;
    grid-template: 1fr 2fr;
    gap: 10px;
}

.currentScore {
    grid-column: 1;
}

.scoreInput {
    grid-column: 2;
}

.scoreBoard {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-rows: auto auto;
    background-color: black;
    color: lime;
}

.scoreBoardEntry {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.usernameScoreBoard {
    grid-column: 1;
}

.scoreScoreBoard {
    grid-column: 2;
}

/* ------------------------------------------------------------------------- */
/* End of Keyboard CSS */
/* ------------------------------------------------------------------------- */
